@model Entidades.Models.ViewModels.ValoresReferenciaVM

@{
    ViewData["Title"] = "Crear Valor Referencia";
}
@section Scripts{
    <script src="/js/valoresReferenciaController.js">  </script>
}
<br />

<br />
<h2 class="text-primary">Crear Valor Referencia</h2>

<div class="container mt-3">
    <form method="post" asp-action="Create" asp-validation-summary="ModelOnly">
        <div class="row justify-content-center">
            <div class="col-4">
                <label for="tipoMuestraSelect" class="form-label">Seleccione el Tipo de Muestra</label>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <select id="tipoMuestraSelect" class="form-select"  name="idTipoMuestra">
                    <option value="0">Seleccione un Tipo de muestra</option>
                    @foreach (var item in Model.TiposMuestraDto)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }

                </select>
            </div>
            <div class="col-4">
                <label asp-for="@Model.ValoresReferencia.IdNombreVariableMuestra" class="form-label">Seleccione la variable</label>
                <select id="variableSelect" asp-for="@Model.ValoresReferencia.IdNombreVariableMuestra" class="form-select" name="IdNombreVariableMuestra">
                   
                    <option value="0">Seleccione la variable</option>

                </select>
                <span asp-validation-for="@Model.ValoresReferencia.IdNombreVariableMuestra" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-4">
                <label  asp-for="@Model.ValoresReferencia.Minimo"  class="form-label">Umbral mínimo</label>
                <input  asp-for="@Model.ValoresReferencia.Minimo"  name="minimo" class="form-control" />
                <span asp-validation-for="@Model.ValoresReferencia.Minimo" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label  asp-for="@Model.ValoresReferencia.Maximo" class="form-label">Umbral máximo</label>
                <input asp-for="@Model.ValoresReferencia.Maximo" name="maximo" class="form-control" />
                <span asp-validation-for="@Model.ValoresReferencia.Maximo" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
    
            <div class="col-8">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
<div class="container ">
    <div class="row justify-content-center mt-3">
        <div class="col-md-4">
            <partial name="_VistaCrearVolver" />
        </div>
    </div>
</div>