@model Entidades.Models.DTO.MuestrasYValoresDto

@{
    ViewData["Title"] = "Muestra y valores";
}

<table class="table table-striped table-bordered">
    <tr>
        <th>IdMuestra</th>
        <th>IdEntidad</th>
        <th>Fecha</th>
        @foreach(var item   in  @Model.NombresVariables)
        {
            <th data-variable="@item"> @item</th>
        }

    </tr>
    @foreach (var item in @Model.Muestras)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.IdEntidad</td>
            <td>@item.Fecha</td>
            @foreach(var valor in item.ValoresVariablesMuestras)
            {
                <td>@valor.Valor</td>
            }
        </tr>
    }
  
 </table>